.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.auth-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.674);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.but {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  color: white;
}

.login-container .but {
  background-color: #5cb85c;
}

.signup-container .but {
  background-color: #337ab7;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .auth-form {
    padding: 10px;
  }
}
